<form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      <td>
       <table>
        <tr><td>{{ field.label }}</td></tr>
        <tr><td>{{ field }}</td></tr>
        <tr><td>{{ field.errors }}</td></tr>
       </table>
      </td>
    {% endfor %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <input type="submit" value="Login">
</form>