{% extends '__base.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block meta_tags %}
    <meta property="og:url"           content={{ request.get_full_path }} />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content={{ post.title }} />
    <meta property="og:description"   content={{ post.subtitle }} />
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=152358552109506&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
    </script>

    <script>
        $('#subscriber-form').on('submit', function(event){
            event.preventDefault();
            console.log("form submitted!")  // sanity check
            send_confirm_mail();
            console.log($('#submit-button').attr('value'))
            $('#submit-button').attr('value', 'Resend Mail')
        });

        function send_confirm_mail() {
            console.log("AJAX is working!")
            console.log($('#email-text').val())// sanity check
            $.ajax({
                url : "{% url 'send-confirm-mail' %}",
                type : "POST",
                data : { email : $('#email-text').val() },

                success : function(json){
                    if (json.success_msg){
                    $('#success_msg').fadeIn().html(json.success_msg)
                        setTimeout(function(){
                            $('#success_msg').fadeOut();
                        }, 2000);
                    }
                    if (json.error_msg){
                    $('#error_msg').fadeIn().html(json.error_msg)
                        setTimeout(function(){
                            $('#success_msg').fadeOut();
                        }, 2000);
                    }
                    console.log(json);
                },

                error : function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });

        };
    </script>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/styles/github.css' %}">

    <style>
        .simple-subscription-form {
          background: #0c3e5f;
          color: #fefefe;
          padding: 2rem;
          border-radius: 0;
        }

        .simple-subscription-form .button {
          margin-bottom: 0;
          border-radius: 0 0 0 0;
        }
        .collapsible {
          background-color: #777;
          color: white;
          cursor: pointer;
          padding: 18px;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
        }

        .active, .collapsible:hover {
          background-color: #555;
        }

        .simple-subscription-form {
          padding: 0 18px;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
        }
    </style>
{% endblock %}

{% block content %}
<div id="fb-root"></div>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content | safe }}</p>
    <p>{% for tag in post.tags.all %}
        <ul>
            <li><a href='{{ tag.get_absolute_url }}'>
                {{ tag }}</a>
            </li>
        </ul>
        {% endfor %}
    </p>

    <div class="fb-share-button"
         data-href={{ post.get_absolute_url }}
         data-layout="button"
         data-size="small" data-mobile-iframe="true">
        <a target="_blank"
           href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
    </div>
    <!--TODO: Add share button for LinkedIn-->
    <div class="subscribe">
        <button class="collapsible">Subscribe</button>
        <div class="simple-subscription-form">
          <form action="" method="post" id="subscriber-form">
            {% csrf_token %}
            <p>Receive updates and latest news direct from our team. Simply enter your email below :</p>
            {{ form }}
            <input type="submit" id="submit-button" value="Sign up now">
            <br/>
            <span id="success_msg"></span>
            <span id="error_msg"></span>
          </form>
        </div>
    </div>
{% endblock %}
